{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}" />
    <link rel="stylesheet" href="{% static 'authentication/auth.css' %}" />
    <title>{{page_name}}</title>
  </head>
  <body>
    <div class="header">
      <a href="{% url 'main'%}" class="logo">Chat with me</a>

      <a href="{% url 'authentication:login_user'%}" class="login_bt">Login</a>
    </div>
    {% block content %} {% endblock content %}
  </body>
</html>
